In [1]:
from __future__ import print_function, division
import pandas as pd
pd.set_option("display.max_rows", 20)
pd.set_option("display.max_columns", 500)
pd.set_option("display.width", 1000)
import time

## pandas.groupby学习

### groupby示意
groupby就是按某个字段分组, 它也确实是用来实现这样功能的.   
比如, 将一份数据集按A列进行分组：

![jupyter](./2862169-51af7d4ae64c2f78.webp)

### 读取数据

In [2]:
%%time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('./input/train_set.csv',nrows=1000)
print(df.head())

   ID  age         job   marital  education default  balance housing loan   contact  day month  duration  campaign  pdays  previous poutcome  y
0   1   43  management   married   tertiary      no      291     yes   no   unknown    9   may       150         2     -1         0  unknown  0
1   2   42  technician  divorced    primary      no     5076     yes   no  cellular    7   apr        99         1    251         2    other  0
2   3   47      admin.   married  secondary      no      104     yes  yes  cellular   14   jul        77         2     -1         0  unknown  0
3   4   28  management    single  secondary      no     -994     yes  yes  cellular   18   jul       174         2     -1         0  unknown  0
4   5   42  technician  divorced  secondary      no     2974     yes   no   unknown   21   may       187         5     -1         0  unknown  0
Wall time: 173 ms

In [8]:
print(set(df['job']))

{'technician', 'admin.', 'housemaid', 'retired', 'unemployed', 'unknown', 'management', 'self-employed', 'entrepreneur', 'services', 'student', 'blue-collar'}

In [ ]:
df -job-groupby

### groupby对象
DataFrame使用groupby()函数返回的结果是DataFrameGroupBy   
不是一个DataFrame或者Series

In [4]:
groupbyage = df.groupby('age')
print(type(groupbyage))
print(groupbyage)

<class 'pandas.core.groupby.groupby.DataFrameGroupBy'>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000024889DE7D68>

groupby分组不仅可以指定一个列名，也可以指定多个列名

In [5]:
groupbyagemarital = df.groupby(['age','marital'])
print(groupbyagemarital.size())
print(groupbyagemarital)

age  marital
20   single       1
21   married      1
     single       1
22   single       1
23   married      1
     single       2
24   married      3
     single      10
25   married      4
     single      11
26   divorced     2
     married      3
     single      12
27   divorced     1
     married      2
     single      14
28   married      6
     single      21
29   married      6
     single      20
30   divorced     2
     married     11
     single      13
31   divorced     1
     married     22
     single      26
32   divorced     6
     married     12
     single      23
33   divorced     4
                 ..
54   married     16
55   divorced     4
     married     18
     single       1
56   divorced     8
     married     14
     single       2
57   married     20
     single       2
58   divorced     6
     married     12
59   divorced     3
     married     15
60   divorced     2
     married     16
61   married      4
     single       1
66   married      1
69   married      2
71   divorced     1
72   married      1
73   married      1
74   married      1
75   divorced     2
     married      1
79   divorced     1
80   divorced     1
81   divorced     1
83   divorced     1
     married      1
Length: 123, dtype: int64
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000024889E1C160>

### 可以通过调用get_group()获得按照分组得到的DataFrame对象

In [6]:
groupbyagedf = groupbyage.get_group('age').reset_index()
print(groupbyagedf)

KeyError: 'age'

In [7]:
groupbyage

### groupby常用的一些功能

In [32]:
df.groupby('job')['age'].sum()

job
admin.           4908
blue-collar      9141
entrepreneur     1115
housemaid         871
management       8258
retired          2997
self-employed    1431
services         4397
student           602
technician       5859
unemployed       1317
unknown           450
Name: age, dtype: int64

In [35]:
df.groupby('job')['age'].mean()

job
admin.           39.580645
blue-collar      40.268722
entrepreneur     41.296296
housemaid        45.842105
management       40.480392
retired          61.163265
self-employed    42.088235
services         40.712963
student          27.363636
technician       40.406897
unemployed       41.156250
unknown          50.000000
Name: age, dtype: float64

In [36]:
df.groupby('job')['age'].count()

job
admin.           124
blue-collar      227
entrepreneur      27
housemaid         19
management       204
retired           49
self-employed     34
services         108
student           22
technician       145
unemployed        32
unknown            9
Name: age, dtype: int64